
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~open-iconic/font/css/open-iconic-bootstrap';
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4";

.navbar-laravel {
  background-color: $navi-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .nav-item a.nav-link, a.navbar-brand {
    color: #ffffff;
  }


}

.body {
  background: $body-bg;
}

.user-table {
  margin-top: 40px;
}

.search-header {
  cursor: pointer;
}

.invalid-group-feedback {
  display: block;
}

.card {
  &.jan {
    .card-header {
      background: #00bfff;
    }
    background: #d0ecfd;
  }

  &.feb {
    .card-header {
      background: #87ceeb;
    }
    background: #d0ecfd;
  }

  &.mar {
    .card-header {
      background: #4ee44e;
    }
    background: #d2f8d2;
  }

  &.apr {
    .card-header {
      background: #1ec71e;
    }
    background:#d2f8d2;
  }

  &.may {
    .card-header {
      background: #99e44d;
    }
    background: #d2f8d2;
  }

  &.jun {
    .card-header {
      background: #f7ff8f;
    }
    background: #f7ffac;
  }

  &.jul {
    .card-header {
      background: #f0ff5f;
    }
    background: #f7ffac;
  }

  &.aug {
    .card-header {
      background: #c9de00;
    }
    background: #f7ffac;
  }

  &.sep {
    background: #00ffa5;

    .card-header {
      background: #ffd867;
    }

  }

  &.oct {
    .card-header {
      background: #ff7d4d;
      color: #FFF;
    }
    background: #ffe59a;

  }

  &.nov {
    .card-header {
      background: #ffbf00;
    }
    background: #ffe59a;

  }

  &.dec {
    .card-header {
      background: #87cefa;
    }
    background: #d0ecfd;

  }
}

form {
  &.del-btn {
    display: inline-flex;
  }
}